
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Optional: keeps items stacked vertically */
  min-height: 100vh; /* Takes full viewport height to center vertically */
  text-align: center; /* Centers text inside elements */
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}




